.hangman-status {
  margin: 10px;
}

.word-info {
  margin: 10px;
}

.button-container {
  padding: 10px;
}

.button {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: darkorchid;
  color: white;
}

.button:hover {
  background-color: purple;
}

.button.alphabet {
  font-size: 15px;
}

.button.restart {
  margin: 10px;
}

.button.x {
  padding-top: 3px;
  padding-bottom: 3px;
}
